/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bg{
	
	-fx-background-image: url("imgs/bg.jpg");
	-fx-background-size: 100% 100%;
	
}

#label{
	
	-fx-font-size: 54px;
	
}



.text-field {

}

.label {
    -fx-font-size: 16px;   
    
}


